{% extends 'base.html.twig' %}

{% block title %}Ajouter un produit{% endblock %}

{% block link %}
        <link rel="stylesheet" href="{{ asset('/css/add.css')}}">
{% endblock %}

{% block body %}
<header class="header__main">
    <div class="header__logo">
        {# <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"> #}
    </div>
    <div class="nav-list-container">
       <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="nav__item"><a href="{{ path('add') }}">Ajout produit</a></li>
                <li class="nav__item"><a href="{{ path('login') }}">Connexion</a></li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </ul>
        </nav>
    </div>
</header>

<div class="container mt-5">

    <h1> Ajout de produit </h1>
    <form action="{{ path('add') }}" method="post">  
        <center>    
        
            <input type="file" accept="image/png, image/jpeg">  
          
            <div class="name">
                <input class="inpt" placeholder="nom" required name="_username" type="text" value="">
            </div>

            <div class="tag">
                <input class="inpt" placeholder="tag" required name="_tag" type="tag">
            </div>

            <div class="url">
                <input class="inpt" placeholder="url" required name="_url" type="url">
            </div>
            
            <div>
                <button class="add" type="submit">Ajouter</button>
            </div>
        </center>
    </form>

</div>




<footer> 
        <div class="container-fluid text-center text-md-left mt-5">
	        <div class="row">
		        <div class="col-md-6 mt-md-0 mt-3">
		 
	                <div class="footer-copyright text-center py-3">© © 2020, <a href=""> PassionFroid</a> Tous droits reservés. 
	                </div>
	            </div>
                <hr class="clearfix w-100 d-md-none pb-3">
  
		        <div class="col-md-3 mb-md-0 mb-3">
		        </div>
                <div class="col-md-3 mb-md-0 mb-3">
  
			        <div class="list__footer">
		                <ul class="list-unstyled">
			                <li>
			                    <p>Politique de confidentialité</p>
			                </li>
			                <li>
			                    <p>Mentions légales</p>
			                </li>
			                <li>
			                    <p>Contact</p>
			                </li>
		                </ul>
		            </div>
                </div>
            </div>
        </div>        
     </footer> 
{% endblock %}
