{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block link %}
    <link rel="stylesheet" href="{{ asset('/css/home.css')}}">
{% endblock %}

{% block body %}
<header class="header__main">
    <div class="header__logo">
        {# <img src="{{url_for('static', filename='images/logo.png')}}" alt="logo"> #}
    </div>
    <div class="nav-list-container">
        <nav class="header__nav">
            <ul class="nav__list">
                <li class="nav__item"><a href="{{ path('home') }}">Accueil</a></li>
                <li class="nav__item"><a href="{{ path('add') }}">Ajout produit</a></li>
                <li class="nav__item"><a href="{{ path('login') }}">Connexion</a></li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Rechercher" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Rechercher</button>
                </form>
            </ul>
           
        </nav>
    </div>
</header>

<div class="container mt-5">

    <div class="card mt-5" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Nom</h5>
    </div>
    </div>

     <div class="card mt-5" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Nom</h5>
    </div>
    </div>

     <div class="card mt-5" style="width: 18rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">Nom</h5>
    </div>
    </div>


</div>




<footer> 
        <div class="container-fluid text-center text-md-left mt-5">
	        <div class="row">
		        <div class="col-md-6 mt-md-0 mt-3">
		 
	                <div class="footer-copyright text-center py-3">© © 2020, <a href=""> PassionFroid</a> Tous droits reservés. 
	                </div>
	            </div>
                <hr class="clearfix w-100 d-md-none pb-3">
  
		        <div class="col-md-3 mb-md-0 mb-3">
		        </div>
                <div class="col-md-3 mb-md-0 mb-3">
  
			        <div class="list__footer">
		                <ul class="list-unstyled">
			                <li>
			                    <p>Politique de confidentialité</p>
			                </li>
			                <li>
			                    <p>Mentions légales</p>
			                </li>
			                <li>
			                    <p>Contact</p>
			                </li>
		                </ul>
		            </div>
                </div>
            </div>
        </div>        
     </footer> 
{% endblock %}
